@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
  }

body {
    background-color: #E5E5E5;
    font-family: "Roboto", sans-serif;
}

/* CABEÇALHO */
header {
    background-color: #EC362D;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 69px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
}

header h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;     
}

/* CONTEÚDO PRINCIPAL */
.conteudo-principal {
    width: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-principal h2 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.seus-quizzes {
    display: flex;
    align-items: center;
}

.seus-quizzes ion-icon {
    font-size: 40px;
    color: #EC362D;
    margin-left: 15px;
    margin-top: 20px;
}

/* BOTÃO PARA CRIAR QUIZZ */
.criar-quizz {
    background-color: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    height: 181px;
    width: 70%;
    margin-top: 100px;
            
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.criar-quizz span {
    color: #B9B9B9;
    font-weight: 400;
    font-size: 20px;
}

.criar-quizz button {
    border: 1px dashed #EC362D;
    border-radius: 50px;
    margin-top: 15px;
    height: 40px;
    width: 136px;

    font-weight: 400;
    font-size: 21px;
    color: #EC362D;
}

/* LISTA DE QUIZZES */
.container {
    width: 70%;   
}

.container span {
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.27px;  
}

.container img {
    width: 300px;
    height: 181px;
    margin: 10px 5px;
    border-radius: 5px;

    background: linear-gradient(transparent 25%, black 100%);
/*
    -webkit-mask-image: linear-gradient(to bottom, transparent, grey, black);

    background-image: linear-gradient(#FFFFFF, #000000);
    
    -webkit-mask-image: linear-gradient(to bottom, transparent 90%, black 20%);
    
    -webkit-mask-image: linear-gradient(#FFFFFF, #000000);
    */
}

.lista-quizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quizz {
    position: relative;
    overflow: hidden;
    word-break: break;
}

.quizz span {
    position: absolute;
    left: 15px;
    bottom: 20px; 
    z-index: 1;
    
}

.um-quizz .quizz img {
    width: 100%;
    height: 227px;
}

/* TELA 3: CRIAÇÃO DE QUIZ */
.criando-quizz{
    background-color: #E5E5E5;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px ;
    padding-bottom: 100px;
    position: fixed;
    top:69px;
}

.caracteristicas-gerais-quizz{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-comeco{
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 27px;
}

.inputs-das-caracteristicas{
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 256px;
    box-shadow: 0px 0px 12px -1px rgba(134, 133, 133, 0.5);
    border-radius: 3px;
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:  21px;
    padding-bottom: 24px;
}

.inputs-das-caracteristicas input{
    width: 90%;
    height: 46px;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 5px;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
    color:  #BABABA;
    margin-bottom: 9px;
    outline: none;
}

input::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
    color:  #BABABA;
}

.prosseguir{
    width: 368px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: rgba(255, 245, 244, 1);
}

/* CLASSE PARA FAZER AS TELAS SUMIREM E, AO RETIRARÁ-LA, A TELA APARECE */
.none{
    display: none;
}

/* MOBILE */
@media (max-width: 1100px) {

.criar-quizz {
    width: 90%;
}

.container {
    width: 90%;
}

.lista-quizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caracteristicas-gerais-quizz{
    width: 100vw;
}

.prosseguir{
    width: 85%;
}

.container img {
    width: 340px;     
}

}